:root{
    --primary: #212429;
    --secondary: #ffffff;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
}

.barra-menu {
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    color: var(--primary);
    border-block-end: 1px solid black;
    justify-content: space-between;
    max-width: 1280px;
    font-size: 16px;
}

.imagenes-acordeon{
    width: 10%;  
    display: flex;
    justify-content: center;
}

.texto-menu {
    display: flex;
    align-items: center;    
}

.texto-cabecera{
    display: flex;
    padding: 0px 25px;
}

.imagenes-menu{
   display: flex;
    justify-content: space-around;
    width: 20%;  
}

.icon-menu{
    width: 25px;
}

@media (max-width: 920px) {
    .texto-menu{
        display: none;

    }
    .imagenes-menu{
        display: none;
    }
    .barra-menu{
        justify-content: center;
    }    
}

h1{
    font-size: 32px;
    color: var(--primary);
}

.titulo{
    position: relative;
    top:100px;
    margin: 20px;
}

.catalogo {
    position: relative;
    top:120px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;   
}

.fotos-catalogo{
    border-radius: 12px;
}


footer{
    font-size: 16px;

}

 button {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 8px;
    border: none;
    padding: 10px;
    
}
button:hover {
    background-color: var(--accent);

}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
}

.element {
    flex: 1;
    padding: 20px;
    height: 100px;
    background-color: #854ec2;
}

.prueba1:hover {
    animation-name: tienda ;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes tienda {
    from {
        width: 200px;
    }
    to{
        width: 400px;
    }
}

