:root{
    --primary: #212429;
    --secondary: #ffffff;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
}

.barra-menu {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 75px;
    display: flex;
    color: var(--primary);
    border-block-end: 1px solid black;
    justify-content: space-between;
    max-width: 1280px;
    font-size: 16px;
    z-index: 2;
    background-color: var(--secondary);
    
}

.imagenes-acordeon{
    width: 10%;  
    display: flex;
    justify-content: center;
}

.texto-menu {
    display: flex;
    align-items: center;    
}

.texto-cabecera{
    display: flex;
    padding: 0px 25px;
}

.imagenes-menu{
    display: flex;
    justify-content: space-around;
    width: 20%;  
}

.icon-menu{
    width: 25px;
}
.titulo{
    position: relative;
    top:100px;
    margin: 20px;
}
.catalogo {
    position: relative;
    top:120px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
    justify-items: center; 
}

.fotos-catalogo{
    border-radius: 12px;
}
.fotos-catalogo:active{
    animation-name: tienda;
    animation-duration: 1s;
    animation-timing-function: linear;  
}

.texto-tarjetas{
    display: flex;
    justify-content: space-around;   
}

.fotos-footer{
    padding: 16px;
    display: inline;
}

.footer-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenes-footer{
    background-color: var(--secondary);
    border-radius: 100%; 
}

.texto-footer{
    display: flex;
    align-items: center;
    padding: 10px;
}

h1{
    font-size: 32px;
    color: var(--primary);
}

footer{
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 150px;
    padding: 32px;
    background-color: var(--primary);
    color: var(--secondary);
    
}


@media  (max-width: 920px) {
    .texto-menu{
        display: none;
    }
    .imagenes-menu{
        display: none;
    }
    .barra-menu{
        justify-content: center;
    }  
    .catalogo{
       display: grid;
       grid-template-columns: 1fr;
       justify-items: center   
    }  
    .footer-section{
        border-bottom: #ffffff 1px solid;
        display: flex;
        justify-content: flex-start;
        padding: 16px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: normal;
        padding: 20px;
        font-weight: bold;
    }

}

@keyframes tienda {
    0%{
        width: 100%;
        height: 100%;
    }
    50%{
        width: 105%;
        height: 105%;
    }
    100%{
        width: 108%;
        height: 108%;
    }
}


